/* common styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */


/* navbar */
/* sidebar */
    .sidebar {
        background: #eee;
        width: 8rem;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
    
    .menu-icon {
        margin-top: 3rem;
        cursor: pointer;
        height: 6rem;
    }

    .line {
        width: 2.5rem;
        height: 0.2rem;
        background: #222;
        margin-bottom: .6rem;
    }

    .line-1, .line-3 {
        width: 1.8rem;
        transition: all .4s;
    }

    .menu-icon:hover .line {
        width: 2.5rem;
    }

    .social-icons-links {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 25rem;
        align-items: center;
    }

    .social-link {
        color: #777;
        transition: color .3s;
        font-size: 2rem;
    }

    .social-link:hover {
        color: #deaa86;
    }

    .year {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 1rem;
    }
/* end of sidebar */
/* navigation */
.navigation {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)),url('../img/nav-bg.jpeg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left .3s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
    letter-spacing: .2rem;
    font-size: 'Josefin sans', sans-serif;
    font-size: 3.5rem;
    color: #deaa86;
    font-weight: 300;
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-input-search {
    width: 30rem;
    letter-spacing: .2rem;
    color: #deaa86;
    font-size: 'Josefin sans', sans-serif;
    outline: none;
    border: 1px solid #555;
    background: rgba(0, 0, 0, .3);
    padding: 1rem 2rem;
    border-radius: 10rem;
}

.navigation-search-btn {
    background: transparent;
    border: none;
    color: #deaa86;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 28rem;
    padding: 0;
}

.navigation-link {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .3;
    font-size: 'Josefin sans', sans-serif;
    font-weight: 300;
    transition: color .5s;
}

.navigation-item {
    position: relative;
}

.navigation-link:hover {
    color: #deaa86;
}

.navigation-link::before {
    content: "";
    background-color: #fff;
    width: 0rem;
    height: .1rem;
    position: absolute;
    top: 1rem;
    left:-4rem;
    transition: width cubic-bezier(1, 0, 0, 1).5s;
}

.navigation-link::after{
    content: "";
    background-color: #fff;
    width: 0rem;
    height: .1rem;
    position: absolute;
    top: 1rem;
    right:-4rem;
    transition: width cubic-bezier(1, 0, 0, 1) .5s ;
}

.navigation-link:hover::after,
.navigation-link:hover::before {
    background-color: #deaa86;
    width: 3rem;
}

.copyright {
    color: #fff;
    font-size: 'Josefin sans', sans-serif;
    font-size: 1.2rem;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(0px, 2px);
}

.checkbox:checked ~ .sidebar .line-2 {
    display: none;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-4px, -6px);
}

/* end of navigation */
/* end of navbar */




























